body {
  background:white;
  font-family: 'Play', sans-serif;
}

img {
    max-width: 110%;
    /*margin-left:25%;*/
    margin-left: -7%;
}

img.logo {
    width: 25%;
    height: 25%;
    margin-left: 37%;
}

.scrollable.ng-scope {
      background:white;
}

.sidebar-left, .sidebar-right {
  background: orangered !important;
}

.btn.sidebar-toggle {
color: orangered;
}

a.list-group-item:hover {
    background: orangered;
}

span.ng-scope {
    color: white;
}

.app-name {
  color: orangered;
  background: white;
  font-family: 'Play', sans-serif;
}

.list-group-item.active, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: orangered;
    border-color: orangered;
}

.list-group-item.active, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: orangered;
    border: #ddd;
}
a.list-group-item.active:hover {
    background: orangered;
}

.btn.sidebar-toggle:hover {
    color: orangered;
}

.navbar-absolute-top {
  background: orangered;
  color:white;
}

.scrollable-content {
  background: white;
}

.btn-group.justified>.btn:last-child, .btn-group.justified>.btn.active {
  background: white;
}

.hpTitle {
  font-family: 'Play', sans-serif;
  text-align: center;
  font-size: 100px;
  color: orangered;
  padding-top: 0;
      margin-top: -10%;
}

.hpDescription {
  font-family: 'Play', sans-serif;
  text-align: center;
  color: black;
  padding-bottom: 50px;
}

h3 {
  font-size: 34px;
}

p {
  font-size: 16px;
}

.petition-description {
  height: calc(100% - 62px);
  overflow: scroll;
}

/*.petition-card {
  border: 2px solid #057CFF;
  padding: 30px 15px 15px 15px;
  margin: 10px 0;
  border-radius: 3px;
  height: calc(100vh - 152px);
  position: relative;
}*/

.scrollable-content {
  overflow: hidden; 
}

/*.petition-buttons {
  position: absolute;
  bottom: 15px;
  width: calc(100% - 30px);
}

.petition-buttons img {
  height: 40px;
}*/

/*.petition-buttons a {
  background-color: #555; 
}
*/
/**********************/

.carousel-example-content {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -50px;
}


.carousel-item {
  display: block;
  color: #444;
  background: #f4f4f4;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.carousel {
  padding: 20px;
  overflow: visible;
}

.carousel-inner {
  position: relative;
  overflow: visible;
}

.carousel>.item, .carousel-item {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.carousel-item {
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: -moz-transform 500ms;
  transition: transform 500ms;
}

[drag-to-dismiss]{
  transform: translate(0,0); /* NOTE: this is required to prevent mobile webkit issues */ 
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
}

.scrollable-content {
  overflow: scroll;
}

a.btn.btn-navbar {
    color: orangered;
}

a.btn.btn-navbar:hover {
    color: orangered;
}

.btn-group.justified {
    background: white;
}