<section id="login" ng-hide="us.checkLoggedIn()">

<form name="us.loginForm" ng-submit="us.login()" novalidate>
<legend>Login</legend>

<div>
<label for="email">Email</label>
<input type="text" name="email" placeholder="Enter your email" ng-model="us.user.email" required>
</div>

<div ng-messages="us.loginForm.$submitted && us.loginForm['email'].$invalid)">
  <p ng-message="required">Email is required</p>
</div>

<div>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Enter your password" ng-model="us.user.password" required>
</div>

<div ng-messages="us.loginForm['password'].$error" ng-show="(us.loginForm.$submitted && us.loginForm['password'].$invalid">
<p ng-message="required">
Password is required.</p>
</div>

<div><button type="submit">Login</button></div>
</form>
</section>

