<div class="scrollable">  
  <div class="scrollable-content section">
    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home" ng-repeat="petition in petitions.all" ng-if="$index < 20">
        <div class="petition-card">
          <div class="petition-description">
            <h3 class="home-heading">{{ petition.title }}</h3>
            <p>{{ petition.description | htmlToPlaintext }}</p>
          </div>
          <div class="btn-group justified nav-tabs petition-buttons">
            <a ng-click="petitions.nextPetition($index,false)" class="btn btn-default"><img src="./assets/images/thumbsdown.png"></a>
            <a ng-click="petitions.nextPetition($index,true)" class="btn btn-default"><img src="./assets/images/thumbsup.png"></a>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
