<section id="register" ng-hide="us.checkLoggedIn()">

  <form name="us.registerForm" ng-submit="us.register()" novalidate>

    <legend>Register</legend>

    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username" ng-model="us.user.username">

    <label for="fullname">Full name</label>
    <input type="text" name="fullname" placeholder="Fullname" ng-model="us.user.fullname">
    
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Email" ng-model="us.user.email" required>

    <div ng-messages="us.registerForm['email'].$error" ng-show="(us.registerForm.$submitted && us.registerForm['email'].$invalid)">
      <p ng-message="required">Email is required.</p>
    </div>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" ng-model="us.user.password" required>

    <div ng-messages="us.registerForm['password'].$error" ng-show="(us.registerForm.$submitted && us.registerForm['password'].$invalid)">
      <p ng-message="required">Password is required.</p>
    </div>

    <button type="submit">Register</button>
    
  </form>
</section>